<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">ithinka</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">

        <div class="user-info">
          <span class="user-name" [innerText]="[user?.email]"></span>
        </div>
      </div>
      <!-- sidebar-header  -->

      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="#" routerLink="/home">
              <i class="fa fa-dashboard"></i>
              <span>DashBoard</span>
            </a>
          </li>
          <li>
            <a href="#" routerLink="/user">
              <i class="fa fa-users"></i>
              <span>Users</span>
            </a>
          </li>

        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a (click)="logout()">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <section class="h-100">
        <ng-content></ng-content>
      </section>
      <hr>
      <footer class="text-center">
        <div>
          <a href="https://github.com/zeydduran" target="_blank">
            <img alt="GitHub followers"
              src="https://img.shields.io/github/followers/zeydduran?label=github&style=social" />
          </a>
        </div>
      </footer>
    </div>
  </main>
  <!-- page-content" -->
</div>
